{% load reviews_tags %}
{% load i18n %}

{% if sdu.rating != None %}
    <p class="star-rating {{ sdu.rating|as_stars }}">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>

        <small><a href="{% url 'catalogue:reviews-list' sdu_slug=sdu.slug sdu_pk=sdu.id %}">
                {% blocktrans count sdu.num_approved_reviews as num_reviews %}
                    {{ num_reviews }} renter review
                {% plural %}
                    {{ num_reviews }} renter reviews
                {% endblocktrans %}
        </a></small>
        &nbsp;
{% else %}
    <p>
{% endif %}

{% if sdu|is_review_permitted:user %}
    <a id="write_review" href="{% url 'catalogue:reviews-add' sdu_slug=sdu.slug sdu_pk=sdu.id %}#addreview" class="btn btn-success btn-sm">
        {% trans "Write a review" %}
    </a>
{% endif %}
</p>
