{% load i18n %}
{% load l10n %}
<br><br>
<h3>{% trans "SDUs" %}</h3>
<br>

{% if all_sdus %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>{% trans "SduId" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Size in sqft" %}</th>
            <th>{% trans "Household Size" %}</th>
            <th>{% trans "Rent" %}</th>
            <th>{% trans "Contract" %}</th>
            <th>{% trans "Individual Kitchen" %}</th>
            <th>{% trans "Individual Bath" %}</th>
            <th>{% trans "Exterior Window" %}</th>
            <th>{% trans "Internal Grading" %}</th>
        </tr>
        {% for sdu in all_sdus %}
         <tr>
                <td>{{ sdu.id }}</td>
                <td>{{ sdu.name }}</td>
                <td>{{ sdu.size }}</td>
                <td>{{ sdu.household_size }}</td>
                <td>{{ sdu.rent }}</td>
                <td>{{ sdu.has_contract }}</td>
                <td>{{ sdu.has_individual_kitchen }}</td>
                <td>{{ sdu.has_individual_bath }}</td>
                <td>{{ sdu.has_exterior_window }}</td>
                <td>{{ sdu.internal_grading }}</td>
         </tr>
        {% endfor %}
    </table>
{% else %}
    <br>
    {% trans "No sdf Sdus found." %}
{% endif %}