{% load i18n %}
{% load l10n %}

<h3>{% trans "Address" %}</h3>
<address data-name="{{ sdf.name }}" data-lat="{{ sdf.location.y|unlocalize }}" data-lng="{{ sdf.location.x|unlocalize }}">
    <p>
        {{ sdf.address.line1|wordwrap:20 }}<br />
        {% if sdf.address.line2 %}
            {{ sdf.address.line2|wordwrap:20 }}<br />
        {% endif %}
        {% if sdf.address.line3 %}
            {{ sdf.address.line3|wordwrap:20 }}<br />
        {% endif %}
        {% if sdf.address.line4 %}
            {{ sdf.address.line4|wordwrap:20 }}<br />
        {% endif %}
        {{ sdf.address.postcode }}
    </p>
</address>
