{% extends "oscar/layout.html" %}
{% load currency_filters i18n image_tags l10n static widget_tweaks %}

{% block extrahead %}
    <style>map img { max-width: none; }</style>
    <link rel="stylesheet" href="{{ STATIC_URL }}sdfs/css/sdfs.css" />
{% endblock %}
{% block description %}
    {{ category.get_meta_description }}
{% endblock %}
{% block title %}
{{ queryset_description }} | {{ block.super }}
{% endblock %}

{% block content %}
    <h2> {% trans "劏房單位租金估算器" %} </h2>
    <br/>
    <form action = "" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="提交">
    </form>
    <br/>
    {% if results == 1  %}
          <div class="txtCentrado margenSup20 grisDC">
              <h3>估计租金每月約港元 $ {{ value }} </h3>
              {% if compare > 0  %}
                <h3>估计租金高於輸入的金額</h3>
              {% elif compare < 0 %}
                <h3>估计租金低於輸入的金額</h3>
              {% else %}
                <h3>估计租金和輸入的金額相同</h3>
              {% endif %}
          </div>
    {% elif results == 2 %}
          <div class="txtCentrado margenSup20 grisDC">
            <h3>無法估計租金金額</h3>
          </div>
    {% endif %}
{% endblock %}