{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}sdfs{% endblock %}
{% block title %}
{% trans "Sdf management" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Sdf Sdus" %}</li>
    </ol>
</nav>
{% endblock %}

{% block dashboard_content %}

{% if sdu_list.all|length %}
<form method="post" class="inquiry_table">
    {% csrf_token %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>{% trans "劏房單位編號" %}</th>
            <th>{% trans "行政分區" %}</th>
            <th>{% trans "街道" %}</th>
            <th>{% trans "大廈名稱" %}</th>
            <th>{% trans "劏房編號" %}</th>
            <th>{% trans "調查編號" %}</th>
            <th>{% trans "面積（平方英尺)" %}</th>
            <th>{% trans "住户人数" %}</th>
            <th>{% trans "每月租金" %}</th>
            <th>{% trans "Contract" %}</th>
            <th>{% trans "有獨立廚房" %}</th>
            <th>{% trans "有獨立浴室" %}</th>
            <th>{% trans "有外窗" %}</th>
            <th>{% trans "内部裝修评分" %}</th>
            <th>{% trans "有效" %}</th>
            <th>{% trans "操作" %}</th>
        </tr>
        {% for sdu in sdu_list %}
        <tr>
            <td>{{ sdu.sdfId_id}}</td>
            <td>{{ sdu.district}}</td>
            <td>{{ sdu.street}}</td>
            <td>{{ sdu.building}}</td>
            <td>{{ sdu.id }}</td>
            <td>{{ sdu.name }}</td>
            <td>{{ sdu.size }}</td>
            <td>{{ sdu.household_size }}</td>
            <td>{{ sdu.rent }}</td>
            <td>{% if sdu.has_contract %} 有 {% else %} 沒有 {% endif %}</td>
            <td>{% if sdu.has_individual_kitchen %} 有 {% else %} 沒有 {% endif %}</td>
            <td>{% if sdu.has_individual_bath %} 有 {% else %} 沒有 {% endif %}</td>
            <td>{% if sdu.has_exterior_window %} 有 {% else %} 沒有 {% endif %}</td>
            <td>{{ sdu.internal_grading }}</td>
            <td>{% if sdu.is_active %} 有 {% else %} 沒有 {% endif %}</td>
            <td colspan=length>
                <a class="btn btn-info" href="{% url 'sdfs-dashboard:sdf-sdu-update' sdu.pk %}">{% trans "Edit" %}</a>
                <a class="btn btn-danger" href="{% url 'sdfs-dashboard:sdf-sdu-delete' sdu.pk %}">{% trans "Delete" %}</a>
            </td>

        </tr>
        {% endfor %}
    </table>

    {% if page_obj %}
        {% include "oscar/partials/pagination.html" %}
    {% endif %}
</form>

{% else %}
    <p>{% trans "No sdf Sdus found." %}</p>
{% endif %}

{% endblock dashboard_content %}
