{% load i18n %}
{% load wishlist_tags %}

{% if user.is_authenticated %}
    {% with wishlists=user.wishlists.all %}
        {# Select wishlists that contains sdu #}
        {% wishlists_containing_sdu wishlists sdu as sdu_wishlists %}
        {% if wishlists %}

            <div class="btn-group btn-wishlist align-bottom">
                <a class="btn btn-lg dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Add to wish list" %}</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% for wishlist in wishlists %}
                        {% if wishlist not in sdu_wishlists %}
                            <li>
                                <a href="{% url 'renter:wishlists-add-sdu' key=wishlist.key sdu_pk=sdu.pk %}" class="dropdown-item">
                                    {% blocktrans with name=wishlist.name %}
                                        Add to '{{ name }}' wish list
                                    {% endblocktrans %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="{% url 'renter:wishlists-create-with-sdu' sdu_pk=sdu.pk %}" class="dropdown-item">
                            {% trans 'Create a new wishlist' %}
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            {# 1 or no existing wishlists - show a simple button #}
            <form id="add_to_wishlist_form" action="{% url 'renter:wishlists-add-sdu' sdu_pk=sdu.pk %}" method="post" class="btn-wishlist align-bottom">
                {% csrf_token %}
                <button type="submit" class="btn btn-lg" data-loading-text="{% trans 'Adding...' %}">{% trans "Add to wish list" %}</button>
            </form>
        {% endif %}

        {% for wishlist in sdu_wishlists %}
            <form action="{% url 'renter:wishlists-remove-sdu' key=wishlist.key sdu_pk=sdu.id %}" method="post">
                {% csrf_token %}
                {% blocktrans with name=wishlist.name url=wishlist.get_absolute_url %}
                    <span class="float-left">Product is in <a href="{{ url }}">'{{ name }}'</a> wishlist.</span>
                {% endblocktrans %}
                <button type="submit" class="btn btn-sm float-right" data-loading-text="{% trans 'Removing...' %}">{% trans "Remove" %}</button>
            </form>
        {% endfor %}
    {% endwith %}
{% else %}
    <button class="btn btn-lg btn-wishlist align-bottom" disabled="disabled" title="{% trans 'Please login to add sdus to a wish list.' %}">{% trans 'Add to wish list' %}</button><br/>
{% endif %}
