{% extends "oscar/layout.html" %}
{% load currency_filters i18n image_tags l10n static widget_tweaks %}

{% block extrahead %}
    <style>map img { max-width: none; }</style>
    <link rel="stylesheet" href="{{ STATIC_URL }}sdfs/css/sdfs.css" />
{% endblock %}
{% block description %}
    {{ category.get_meta_description }}
{% endblock %}
{% block title %}
{{ queryset_description }} | {{ block.super }}
{% endblock %}

{% block content %}
    <h2> {% trans "劏房單位搜索助手" %} </h2>
    <br/>
    <form action = "" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="提交">
    </form>

<br/>
{% if results %}
      <div class="txtCentrado margenSup20 grisDC">
          <h3>我們為您的搜索找到了  個結果</h3>
      </div>
{%elif not results %}
      <div class="txtCentrado margenSup20 grisDC">
        <h3>沒有找到細分單位</h3>
      </div>
{% endif %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% include "sdfs/partials/extrascripts.html" %}
{% endblock %}
