{% extends "oscar/layout.html" %}
{% load currency_filters i18n image_tags l10n static widget_tweaks %}

{% block extrahead %}
    <style>map img { max-width: none; }</style>
    <link rel="stylesheet" href="{{ STATIC_URL }}sdfs/css/sdfs.css" />
{% endblock %}
{% block description %}
    {{ category.get_meta_description }}
{% endblock %}
{% block title %}
{{ queryset_description }} | {{ block.super }}
{% endblock %}

{% block content %}
    <h2> {% trans "劏房單位搜索助手" %} </h2>
    <br/>
    <form action = "" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="提交">
    </form>

<br/>
    {% if results %}
      <div class="txtCentrado margenSup20 grisDC">
          <h3>我們為您的搜索找到了 {{len}} 個結果</h3>
            <form method="post" class="inquiry_table">
                {% csrf_token %}
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>{% trans "劏房單位編號" %}</th>
                        <th>{% trans "行政分區" %}</th>
                        <th>{% trans "街道" %}</th>
                        <th>{% trans "大廈名稱" %}</th>
                        <th>{% trans "面積（平方英尺)" %}</th>
                        <th>{% trans "每月租金" %}</th>
                        <th>{% trans "有獨立廚房" %}</th>
                        <th>{% trans "有獨立浴室" %}</th>
                        <th>{% trans "有外窗" %}</th>
                    </tr>
                    {% for sdu in sdus %}
                    <tr>
                        <td>{{ sdu.sdfId_id}}</td>
                        <td>{{ sdu.district}}</td>
                        <td>{{ sdu.street}}</td>
                        <td>{{ sdu.building}}</td>
                        <td>{{ sdu.size }}</td>
                        <td>{{ sdu.rent }}</td>
                        <td>{{ sdu.has_individual_kitchen }}</td>
                        <td>{{ sdu.has_individual_bath }}</td>
                        <td>{{ sdu.has_exterior_window }}</td>
                    </tr>
                    {% endfor %}
                </table>

                {% if page_obj %}
                    {% include "oscar/partials/pagination.html" %}
                {% endif %}
            </form>
      </div>
    {%elif not results %}
          <div class="txtCentrado margenSup20 grisDC">
            <h3>沒有找到合適的劏房</h3>
          </div>
    {% endif %}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% include "sdfs/partials/extrascripts.html" %}
{% endblock %}
